
/* font-family: 'Bungee', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive; */

body {
    font-family: 'Lobster', cursive;
    margin:0;
    padding:0;
    line-height: 1.8rem;
    font-size: 14px;
}

.root-contianer{
    margin: 0 auto;
    width: 80%;
}

header, footer {
    overflow: hidden;
}

header{
    min-height: 90px;
    background: #57a5cc;
    text-align: center;
    text-transform: capitalize;    
}

h1{
    font-family: 'Pacifico', cursive;  
    margin:20px;
    color: #000;
    vertical-align: middle;
}

.main-container {
    overflow: hidden;
    background: #fafbde;
}

#mainSection, #sidebar{
    min-height: 350px;
}

#mainSection{
    margin-left: 22%;
    overflow: hidden;
    background: #f5f4b9;
    box-sizing: border-box;
    padding: 40px;
    border-width: 0 8px;
    border-style: dashed;
    border-color: #ffe867;
}

#sidebar {
    width: 20%;
    float:left;
    background: #f5efb9;
    padding: 20px 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #afa56d;
}

.nav-list, .nav-list li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list a{
    color: #000;
    padding: 4px 4px 4px 20px;
    text-decoration: none;
    display: block;
    border-bottom: 2px dotted darkgoldenrod;
}
.nav-list .active{
    background-color: #8a672a;
}

.nav-list .active a{color: #fff;}

#footer {
    min-height: 20px;
    text-align: right;
}
