<div>
    <h1>Home</h1>
    <p>Here you learn overview of how requirejs work and used underhood in this short lesson.</p>

    <p>To learn you need to dig little bit the code of this small application to get the glimise of overall pitcure.</p>

    <p>Purposely I have kept last two links not working to learn what happens when something doesn't work in this application and also if you interested you may clone this project and try to fix it of your own and learn. </p>

    <p>Thanks for coming and thanks for learning!!!</p>
</div>